In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
import pandas as pd
import numpy as np

#1. Working with Pandas Series

#### a) Creating Series

A Pandas Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floats, etc.). It is similar to a column in a spreadsheet or a database table, with labels (called the index) associated with each value, allowing for intuitive data alignment and access. Series are foundational in pandas, serving as the building blocks for more complex data structures like DataFrames.

**Series Through list**

In [4]:
pd.__version__

'2.2.2'

In [7]:
lst = [1,2,3,4,5]
print(pd.Series(lst))

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Series through Numpy Array**

In [11]:
arr = np.array([1,2,3,4,5])

print(pd.Series(arr))

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Giving Index from my end**

In [15]:
print(pd.Series(index = [1,2,3,4,5], data = ['Ainadri', 'Ana', 'Soumya', 'Subhankar', 'Ritesh']))

1      Ainadri
2          Ana
3       Soumya
4    Subhankar
5       Ritesh
dtype: object

**Series Through dictionary values**

In [16]:
steps = {'day_1': 4000, 'day_2': 4200,'day_3': 4400,'day_4': 4700}
print(pd.Series(steps))

day_1    4000
day_2    4200
day_3    4400
day_4    4700
dtype: int64

**Using `repeat()` function along with creating a series**

In [18]:
pd.Series(5).repeat(3)

0    5
0    5
0    5
dtype: int64

We can use the `reset()` function to make the index accurate

In [21]:
pd.Series(5).repeat(3).reset_index(drop = True)  #the drop=True is used to discard the old index after calling reset_index().

0    5
1    5
2    5
dtype: int64

In [22]:
s = pd.Series([10,20]).repeat([5,3]).reset_index(drop = True)
s

0    10
1    10
2    10
3    10
4    10
5    20
6    20
7    20
dtype: int64

**Accesing elements**

In [24]:
print(s[0])

10

In [29]:
print(s[-1:])

7    20
dtype: int64

#### b) Aggregate function on pandas Series

Aggregate functions on a Pandas Series perform summary computations, such as calculating statistics like sum, mean, median, min, max, count, and standard deviation.